/*
   Styles for SignSavvy Web App
   Description: This stylesheet contains the main styles for the SignSavvy web application.
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .header {
    font-weight: bold;
    font-size: 28px;
    margin: 20px 0;
    text-align: center;
  }
  
  .label {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 12px 0;
    font-size: 16px;
  }
  
  .saveButton,
  .logoutButton {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
  }
  
  .saveButton:hover,
  .logoutButton:hover {
    background-color: #0056b3;
  }

  .tab-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tab-menu li {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    background-color: #f7f7f7;
    color: #333;
  }
  
  .tab-menu li.active {
    background-color: #0056b3;
    border: none;
    color: white;
  }
  
  .tab-content {
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .info-icon {
    font-size: 16px;
    color: #0078d4; /* Customize the color of the icon */
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px;
  }
  
  .tooltip {
    position: relative;
  }
  
  .tooltip-text {
    display: none;
    position: relative;
    background-color: #6CB2EB;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }
  
  .tooltip-icon:hover + .tooltip-text {
    display: block;
    opacity: 1;
  }
  
  /* Tooltip Icon Styling */
  .tooltip-icon {
    width: 40px;
    height: 40px;
    margin-top: -5px;
  }
  
  /* Navigation Bar Styling */
  nav {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    background-color: #0056b3; /* Match your desired blue color */
    height: 80px; /* Adjust the height as needed */
    margin-bottom: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    margin: 0 20px; /* Add spacing between links */
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  
  
  